################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DateToFilename/.vs/DateToFilename/v15/Server/sqlite3
